/* global container  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 17px;

}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

.menu-btn{
    cursor: pointer;
    position: absolute;
    top:20px;
    right:30px;
    z-index:2;
    display:none;
}

.btn {
    background: #262626;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: 0;
    /* font-weight: bold; */
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    opacity: 0.9;
}

/* navbar  */
.navbar {

    display: flex;
    align-items: center;
    margin: 15px auto;
    justify-content: space-between;
    font-size: 16px;
    height: 3rem;

}

.navbar .nav-right {
    align-items: right;
}

.navbar ul {
    display: flex;
}

.navbar img {
    width: 130px;
}

.navbar ul li {
    padding: 0 10px;
}

.navbar .nav-center {
    flex: 1;
    padding-top: 3px;
    margin: 20px
}

.navbar ul li a:hover {
    border-bottom: solid 2px;
    padding: 5px;
}

/* container  */
.container {
    width: 90%;
    margin: auto;

}


/* showcase  */
.showcase {
    background: url("pro_img/slide1.png") no-repeat center center/cover;
    height: 450px;
    background-position-y: bottom 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: end;


}

.showcase .btn {
    margin: 20px;
}

.showcase h1,
.showcase p {
    margin-bottom: 10px;
}

/* homecard  */
.home-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    margin: 40px 0;
    align-items: center;
    text-align: left;
    grid-gap: 20px;

}

.home-card div {
    margin-bottom: 40px;
}

.home-card img {
    width: 100%;
    margin-bottom: 20px;

}

.home-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.home-card p {
    font-size: 15px;
    margin: 10px 0;
}

.home-card a {
    color: #0067b8;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;


}

/* hover karna hai a but actaul movement hoge i ke  */
.home-card a:hover i {
    margin-left: 10px;
}


/* xbox  */
.xbox {
    width: 100%;
    height: 350px;
    background: url('https://i.ibb.co/tBJGPD9/xbox.png') no-repeat center center/cover;
    margin-bottom: 20px;


}

.xbox .content {
    width: 40%;
    padding: 50px 0 0 30px;

}

.xbox p {
    margin: 20px 0;
}


/* carbon  */
.carbon {
    height: 350px;
    width: 100%;
    background: url('https://i.ibb.co/72cgtsz/carbon.jpg') no-repeat center center/cover;
}

.carbon .content {
    padding: 50px 0 0 30px;
    color: #fff;
    width: 40%;
}

.carbon p,
.container h1 {
    margin-bottom: 20px;

}

/* footer upper  */
.footer-upper {
    display: flex;
    margin: 30px 0;
    align-items: center;
}

.footer-upper ul {
    display: flex;
    padding-top: 5px;
    margin-left: 10px;
    flex-wrap: wrap;

}

.footer-upper ul li {
    padding: 0 10px;
}

/* footer  */
.navlink {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 100%;

    background: #f2f2f2;
    color: #616161;
    padding: 40px 0;
    font-size: 14px;

}

.navlink div {
    margin: 0 auto;
}
.navlink li{
    padding:12px 0;
}
.navlink h3{
    padding-bottom:10px;
}
.navlink a:hover{
    cursor: pointer;
}

/* footer inner  */

footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
}


.footer-bottom{
    max-width:1300px;
    display: flex;
    align-items: center;
    margin:0 auto;
    justify-content: center;



}

.footer-bottom ul{
    display:flex;
    flex-wrap:wrap;

}
.footer-bottom li{
    display:flex;
    flex-wrap: wrap;
    padding:10px 20px 0 20px;
    justify-content: space-between;
    
}
.footer-bottom div{
   

padding: 0 auto 0 0;}

.footer-bottom i{
    margin-right:15px;
}

/* screen size 700 px  */
@media(max-width:700px){
    .menu-btn{
        display:block;
    }
    .menu-btn:hover{
        opacity: 0.5;
    }
    .navbar ul.nav-center{
        display:block;
        position:absolute;
        top:0;
        left:0;
        background:#f2f2f2;
        width:50%;
        height:100%;
        transform:translateX(-500px);
        border-right:#ccc 1px solid;
        opacity:0.9;
        padding:30px;

    }

    .navbar ul.nav-center.show{
        transform:translateX(-20px);
    }

    .navbar ul.nav-center li{
        padding:10px;
        border-bottom: #ccc solid 1px;
        font-size:14px;
    }

    .navbar ul.nav-right{
        margin-right:60px;
    }
    .home-card{
        grid-template-columns: repeat(2,1fr);
    }
    .xbox .content p{
        display:none;
    }

    .carbon .content{
        width:90%;
        padding:5px;
        z-index: 1;
    }
    .navlink {
       text-align: left;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }
    .navlink div{
        align-items: left;
        justify-content: left;
        margin:0 0 0 30px;
     }

     .home-card div{
        margin-top:0 ;
        padding-top:0;
     }

    
}

@media(max-width:500px){
    .home-card{
        grid-template-columns:1fr;
    }

    .navlink {
        text-align: left;
         grid-template-columns: 1fr;
         
        
     }
     .navlink ul {
        margin-bottom: 20px;
        align-items: left;
     }
     .navlink div{
        align-items: left;
        justify-content: left;
        margin:0 0 0 30px;
     }
 
}

